
table, td, th {
    border: 1px solid black;
}

.controls {
    text-align: center;
}

.alive {
    background-color: blue;
}

.dead {
    background-color: grey;
}

#grid {
    border-collapse: collapse;
    alignment: center;
    min-width: 100%;
    min-height: 100%;
}

#table_div {
    /*position: absolute;*/
    height: 800px;
    width: 800px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    overflow: auto;
    border: 1px solid black;
}

h1, h2,  p{
    text-align: center;
}

#speedSliderDiv {
    width: 30%;
    left:auto;
    right:auto;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

#speedSlider {
    text-align: center;
}




