
td {
    border-color: red;
}

.controls {
    position: absolute;
    bottom: 0;
}

.alive {
    background-color: blue;
}

.dead {
    background-color: grey;
}

#grid {
    alignment: center;
    min-width: 100%;
    min-height: 100%;
}

#table_div {
    position: absolute;
    height: 800px;
    width: 800px;
    left: 15%;
    right: 15%;
    overflow: auto;
    border: 1px solid black;
}


